/* Add CSS Styling */
.buttonOne {
    color:white;
    background-color:black;
}

.buttonTwo {
    background-color:yellow;
}

.buttonOne,.buttonTwo {
    font-size:28px;
    font-family:Helvetica,"Times New Roman",sans-serif;
}